/* ********************* HEADER ********************* */
.header {
  background-color: #f79327;
}

/* TITLE */
header .title {
  color: var(--black) !important;
  font-size: var(--font-size-xxl);
  margin-left: -3%;
}

/* CART AMOUNT BOX */
header #cart-amount {
  background-color: #db005b;
  color: #fff
}

/* ********************* MAIN ********************* */
main {
  background-color: #ffe569;
}

/* ********************* SHOP SECTION ********************* */
/* SHOP TITLE */
section h2 {
  color: var(--log-cabin);
  font-size: var(--font-size-xl);
  text-align: center;
  margin-bottom: 1em;
}

/* SHOP PRODUCTS */
section #products > div > img {
  border-radius: 4%;
}

section #products > div > .name {
  color: var(--log-cabin);
  font-size: var(--font-size-s);
}

section #products > div > .price {
  color: var(--log-cabin);
  font-size: var(--font-size-s);
}

/* ********************* SHOPPING CART ********************* */
aside {
  background-color: #f79327b2;
}

/* SHOPPING CART TITLE */
aside h3 {
  color: var(--log-cabin);
  font-size: var(--font-size-m);
  text-align: center;
  margin-top: 0.5em;
}

aside .flex-row h3 {
  font-size: var(--font-size-s);
}

aside .flex-row img {
  border-radius: 4%;
}

aside .price {
  margin: 0 0 0 6%;
}

/* SHOPPING CART SUBTOTAL TEXTS */
aside .subtotal-wrapper p {
  color: var(--log-cabin);
  font-size: var(--font-size-m);
}

/* SHOPPING CART: BUTTONS */
aside .buy-btn {
  background-color: #09bd86fa;
  color: var(--white);
  font-size: var(--font-size-s);
}

aside .clear-btn {
  background-color: #db005b;
  color: var(--white);
  font-size: var(--font-size-xs);
}

aside .remove-btn {
  background-color: #db005b;
  color: var(--white);
  font-size: var(--font-size-s);
}

/* ********************* FOOTER ********************* */
footer {
  background-color: #db005b;
}

/* FOOTER TEXT */
footer p {
  color: var(--white);
  font-size: var(--font-size-xxs);
}
