/* Shop-Layout */
body {
    max-width: max-content;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 27px 12px;
}

.header .logo-wrapper {
    display: flex;
    height: 85.44px;
    min-width: 558px;
    position: relative;
}

.header .title {
    margin-left: 3%;
}

header .logo {
    height: 85px;
    left: 30px;
    width: 88px;
    position: absolute;
    margin-left: 4%;
}

header .logo-wrapper .title {
    font-weight: 700;
    left: 148px;
    line-height: 71.1px;
    position: absolute;
    top: 6px;
}

header .cart {
    margin: 1.5% 3.5% 0 0;
    min-width: 109px;
    position: relative;
}

header #cart-amount {
    border-radius: 14.8px;
    height: 50px;
    left: 60px;
    position: absolute;
    top: 0;
    width: 49px;
    font-size: 25px;
    display: flex;
    align-content: flex-end;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

header #cart-icon {
    width: 47px;
    flex-wrap: wrap;
}

main {
    display: flex;
    justify-content: space-between;
}

section {
    width: 70%;
    padding: 20px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.product img {
    width: 100%;
}

aside {
    flex-basis: 30%;
    min-height: 100vh;
    overflow: auto;
    position: sticky;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 50px;
}

/* Dynamische Inhalte */
#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#products > div {
    width: 30%;
    margin-bottom: 20px;
}

#products img {
    width: 100%;
    height: auto;
}

#products h3 {
    margin-top: 10px;
}

#products p {
    margin-top: 5px;
}

#products select {
    margin-right: 10px;
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 4px;
    border-color: #f79327;
    border: 2px solid #f79327;;
}
button {
    cursor: pointer ;
}
#products button {
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #db005b;
    color: #fff;
    border: none;
}

#products button[disabled] {
    background: rgb(185, 185, 185);
}

#summary {
    width: 100%;
    margin-top: 20px;
}

.summary-info {
    display: flex;
    align-items: center;
    margin: 1% 0 0 7%;
}

.subtotal-wrapper {
    margin-top: 8%;
    margin-left: 7%;
}

.flex-row {
    display: flex;
    align-items: center;
}

.summary-info img {
    width: 50px;
    margin-right: 10px;
}

.summary-size {
    background-color: #f1f1f1;
    border-radius: 4px;
    padding: 8px 12px;
    margin-right: 10px;
    margin-left: 10px;
}

.summary-amount select {
    width: 60px;
    padding: 6px 10px;
    border-radius: 4px;
}

.price {
    margin-right: 10px;
    font-weight: bold;

}

.remove-btn {
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
    margin-left: 79%;
    position: absolute;
}

.remove-btn:hover {
    background-color: #FF0303;
}

.clear-btn {
    border: none;
    border-radius: 4px;
    padding: 8px 10px;
    cursor: pointer;
    margin-top: 1em;
}

.clear-btn:hover {
    background-color: #FF0303;
}





